body {
    font-family: Arial;
    margin: 20px;
    background-color: cornsilk;
}
h2{ text-align: center; font-size: 2rem; }
label, input, button {
    display: block;
    margin: 10px 0;
}
p { font-weight: bold; }
