*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: coral;
}

header{
    background-color: brown;
    display: block;
    text-align: center;
    border-radius: 0 5% 75%;

}

header nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /*! Reponsivos */
    width: 100vw;
    background-color: darkred;
    border-radius: 0 1px 85% 65%;

}

nav a{
    padding: 10px 20px;
    color: rgb(163, 163, 163);
    font-size: 1.3em;
    margin: 10px 30px;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: brown;
    border-radius: 0 5% 75%;
}

/* a{
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 2px solid blueviolet;
    border-radius: 25px;
    font-size: 1.4em;

} */

a:visited{
    color: hsla(0, 100%, 51%, 0.18);
}

a:hover{
    color: black;
    font-weight: bolder;
    border-color: blueviolet;
    border: 1px solid;
    border-radius: 25px;
    text-decoration: underline;
    background-color: darkred;
}

a:active{
    color: magenta;
}

header h1{
    font-size: 3em;
    color: darkmagenta;
    transition: color 0.3s ease;
    background-color: rgb(254, 81, 81);
    border-radius: 100% 0 100px 0;

    padding: 3.5vw 5vw;
    
}

h1:hover{
    color: black;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    gap: 5%;
    margin: 30px;
    justify-content: center;

}

.firstColumnRow{
    grid-column: 1;
    grid-row: 1;
    border: 2px solid;
    border-radius: 18px;
    padding: 20px;
    width: 100%;
}

.secondColumnFirstRow{
    grid-column: 2;
    grid-row: 1;
    border: 2px solid;
    border-radius: 18px;
    padding: 20px;
    width: 100%;

}

.thirdColumnFirstRow{
    grid-column: 3;
    grid-row: 1;
    border: 2px solid;
    border-radius: 18px;
    padding: 20px;
    width: 100%;

}

.firstColumnSecondRow{
    grid-column: 1;
    grid-row: 2;
    border: 2px solid;
    border-radius: 18px;
    padding: 20px;
    width: 100%;
}

.secondColumnRow{
    grid-column: 2;
    grid-row: 2;
    border: 2px solid;
    border-radius: 18px;
    padding: 20px;
    width: 100%;
}

.thirdColumnSecondRow{
    grid-column: 3;
    grid-row: 2;
    border: 2px solid;
    border-radius: 18px;
    padding: 20px;
    width: 100%;
}

/* xd */

.firstColumnRow:hover,
.secondColumnFirstRow:hover,
.thirdColumnFirstRow:hover,
.firstColumnSecondRow:hover,
.secondColumnRow:hover,
.thirdColumnSecondRow:hover{
    border: 2px dashed blueviolet;
}
/* dx */


.firstColumnRow h2,
.secondColumnFirstRow h2,
.thirdColumnFirstRow h2,
.firstColumnSecondRow h2,
.secondColumnRow h2,
.thirdColumnSecondRow h2{
    text-align: center;
    transition: color 0.3s ease;
    font-size: 180%;
    padding: 20px;
}

.firstColumnRow h2:hover,
.secondColumnFirstRow h2:hover,
.thirdColumnFirstRow h2:hover,
.firstColumnSecondRow h2:hover,
.secondColumnRow h2:hover,
.thirdColumnSecondRow h2:hover{
    color: blueviolet;
    
}

.firstColumnRow img,
.secondColumnFirstRow img,
.thirdColumnFirstRow img,
.firstColumnSecondRow img,
.secondColumnRow img,
.thirdColumnSecondRow img{
    max-width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 350px;
}

.firstColumnRow p,
.secondColumnFirstRow p,
.thirdColumnFirstRow p,
.firstColumnSecondRow p,
.secondColumnRow p,
.thirdColumnSecondRow p{
    text-align: justify;
    font-size: 150%;
    padding-top: 15%;
}

.firstColumnRow span,
.secondColumnFirstRow span,
.thirdColumnFirstRow span,
.firstColumnSecondRow span,
.secondColumnRow span,
.thirdColumnSecondRow span{
    color: darkred;
}

footer p{
    text-align: center;
    font-size: 110%;
    margin-top: 15vh;
}