@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

body{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: url("/images/Yoneyama_Mai.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: 1.3em;
}

.card{
    text-align: center;
    overflow: hidden;
    width: 400px;
    height: auto;
    /* border: 18px dashed blue; */
    margin: -80px 0 -40px;
    border-radius: 20px;
    transition: all 0.3s ease;
    backdrop-filter: blur(18px);
    box-shadow: 0 0 50px black;

}

.card:hover{
    background-color: white;
    box-shadow: 0 0 80px black;

}

.header-card {
    display: flex;
    justify-content: space-between;
    /* border: 18px dashed red; */
    transition: all 0.3s ease;

}

.header-card img{
    width: auto;
    /* border: 18px dashed yellow; */
    height: 100px;
    border-radius: 18px 18px 0 0 ;
    overflow: hidden;
    transition: all 0.3s ease;
    backdrop-filter: blur(90px);
}

.header-card .logo-left img:hover{
    border: 2px solid blue;
    width: auto;
    height: 120px;
    box-shadow: 0 0 80px blue;
    background-color: aquamarine;
    border-radius: 18% 0;
    overflow: hidden;

}

.header-card .logo-right img:hover{
    border: 2px solid blue;
    width: auto;
    height: 120px;
    box-shadow: 0 0 80px blue;
    background-color: aquamarine;
    border-radius: 0 18%;
    overflow: hidden;


}


.img-main img{
    /* border: 18px dashed blue; */
    margin: -100px 0 -68px 0;
    width: 30%;
    height: 19vh;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid white;
    /* box-shadow: 0 0 80px blue; */
    overflow: hidden;
    transition: all 0.3s ease;


}

.img-main img:hover{
    box-shadow: 0 0 80px blue;
    width: 35%;
    height: 25vh;
    border: 2px solid blue;

}


.description{
    /* border: 18px dashed red; */
    margin: 48px 0 0;
    font-weight: 600;
}

.description h3{
    font-weight: 900;
    transition: all 0.3s ease;
    color:  aqua;



}

.description h3:hover{
    color: blueviolet;
    text-shadow: 0 0 8px blueviolet;
}

.description p{
    transition: color 0.3s ease, font-size 0.2s ease;
    color: black;



}

.description p:hover{
    color: black;
    text-shadow: 0 0 8px black;
    font-size: 32px;

}

.description div{
    border-top: 3px solid blue;
    border-radius: 18px;
    transition: font-size ease;
    color: aquamarine;

}

.description div:hover{
    font-size: 26px;
    border-color: blueviolet;
}



.footer-card{
    background-color: deepskyblue;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 0 0 18px 18px;
    padding: 10px;
    transition: all 0.3s ease;

}

.footer-card:hover{
    background-color: darkblue;
    text-shadow: 0 0 8px white;
    color: white;
    border-top: 4px solid blueviolet;
    border-radius: 18px;
    font-size: 36px;

}



/* .footer-card h4{
    font-size: 1px;
    color: black;
    transition: color 0.3s ease, font-size 0.2s linear;

}

.footer-card h4:hover{
    font-size: 46px;
    color: white;
} */

/* .footer-card h2{
    color: black;


    font-weight: 900;
    transition: all 0.3s ease;
}

.footer-card h2:hover{
    font-size: 36px;
    color: white;
    border-top: 2px;
} */


